body {
    background-color: rgb(197, 187, 177);
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    align-items: center;
    padding: 1%;
    background-color: rgb(197, 187, 177);
    color: rgb(177, 161, 144);
    border: 10px solid rgb(177, 161, 144);
}

h1 {
    font-size: 400%;
    text-align: center;
    letter-spacing: .4rem;
}

h4 {
    font-size: 75%;
    text-align: center;
    letter-spacing: .9rem;
}

nav ul {
    font-size: 125%;
    text-align: center;
}

button {
    background-color: rgb(197, 187, 177);
    border: 10px solid rgb(177, 161, 144);
    color: rgb(177, 161, 144);
    padding: 14px 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    font-size: 16px;
    justify-content: space-between;
    width: 20%;
    letter-spacing: .9rem;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

h2 {
    font-size: 400%;
}

img {
    border: 10px solid rgb(177, 161, 144);
    padding: 5px;
    width: 325px;
    position: relative;
    left: 55px;
    bottom: 255px;
}

#AM {
    background-image: url(./About\ Me.jpg);
    height: 400px;
    background-position: center;
    display: flex;
}

.container {
    position: relative;
    text-align: center;
    color: rgb(197, 187, 177);
    font-size: 55px;
}

.centered {
    position: relative;
    top: 50%;
    left: 375%;
    transform: translate(-50%, -50%);
    letter-spacing: .9rem;
}

#P {
    background-image: url(./Projects.jpg);
    height: 400px;
    background-position: center;
}

#CM {
    background-image: url(./Contact\ Me.jpg);
    height: 400px;
    background-position: center;
}